
.items_items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 99.7%;
    left: 0;
    justify-content: space-evenly;
    background-color: rgb(153, 144, 134);
}
.items_items a{
    color: rgb(255, 255, 255)
}
